*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;

}

#left-top-left{
    padding: 40px;
}

#square{
    height: 25px;
    width: 25px;
    background: black;
    rotate: 45deg;
}





#left-top-right{

text-align: right;
padding: 40px;
justify-self: right;
font-size: 20px;
font-weight: 500;

}

#left-top-right h4{
    margin-bottom: 30px;
    font-size: 20px;
font-weight: 500;
}

#left-top-right h5{
    font-size: 18px;
    font-weight: 500;
}




#left-center{

    grid-column: 1/3;
    padding: 90px;
    margin-left: 5vw;

}
#left-center h1:nth-child(2n){
    text-align: center;
}
#left-center h1{
    font-size: 9vh;
    line-height: 9vh;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#left-bottom{

    grid-column: 1/3;
    padding: 20px;

}
 
#left-bottom p{
    margin-left: 60px;
    margin-bottom: 20px;
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    
}



#right{

    grid-column: 3;
    grid-row: 1/4;
padding:40px;
padding-right: 150px;
}

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#arrow{
 top: 50%;
 left: 50%;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
    background: red;
    color: white;
    padding: 30px;
    position: absolute;
    transform: translate(-50% -50%);
}
#arrow i{
    font-size: 30px;
}

